.formulario{
    height: 600px;
    width: 800px;
    margin-left: 50px;
    margin-top: 50px;
}

#img_medico{
    background-color: blueviolet;
    border: 20px;
    height: 600px;
    width: 600px;
}