@media screen and (max-width: 389px ) {
    #bord{
        display: none;
    }
}

@media screen and (min-width: 390px){
    #bord{
        width: 100%;
        background-color: rgb(207, 207, 207);
    }
}

@media screen and (min-width:650px) {
    #namelastN{
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and(max-width: 389px ) {
    #formsesion{
        display: none;
    }
}

@media screen and (min-width: 390px){
    #formsesion{
        width: 100%
    }

    }

*{
    margin: 0;
    padding: 0;
}


#bord {
    width: 40%;
    border: solid ;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    margin-top: 20px;
  }

#bord h3{
    text-align: center;
  }

.itemsform{
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
}

#buttonreg{
    width: 100%;
}

.tcuenta{
    text-align: center;
}

#buttonlogin{
    width: 100%;
}

#formsesion{
    width: 40%;
    margin: auto;
}

#LoginModal{
    width: 100%;
}

#buttoninicio{
    width: 100%;
}

