.title {
    color: #088E9B;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
  }

  footer {
    background-color: #023F4B;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }